<li><a href="/download/docs/KogMo-RTDB_Einfuehrung.pdf">docs/KogMo-RTDB_Einfuehrung.pdf</a> (276k)
<li><a href="/download/docs/goebl08-interfaces-poster.pdf">docs/goebl08-interfaces-poster.pdf</a> (1192k)
<li><a href="/download/docs/goebl09-dissertation.pdf">docs/goebl09-dissertation.pdf</a> (3716k)
<li><a href="/download/docs/goebl08-kogmomuc-poster.pdf">docs/goebl08-kogmomuc-poster.pdf</a> (2324k)
<li><a href="/download/docs/goebl07_C3_Einfuehrung_Realzeitdatenbasis.r342.pdf">docs/goebl07_C3_Einfuehrung_Realzeitdatenbasis.r342.pdf</a> (208k)
<li><a href="/download/docs/goebl07-architecture-poster.pdf">docs/goebl07-architecture-poster.pdf</a> (3052k)
<li><a href="/download/src/kogmo-rtdb.r530-preliminary.tgz">src/kogmo-rtdb.r530-preliminary.tgz</a> (128k)
<li><a href="/download/src/kogmo-rtdb.r604.tgz">src/kogmo-rtdb.r604.tgz</a> (172k)
