<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 <title>{{ page.title }} - KogMo-RTDB - Real-time Database for Cognitive Automobiles / Realzeitdatenbasis für kognitive Automobile</title>
 <meta name="author" content="Matthias Goebl">
 <meta name="description" lang="de" content="
Die Realzeitdatenbasis für kognitive Automobile (KogMo-RTDB) ermöglicht als zentrale Schnittstelle
den reibungslosen Datenaustausch zwischen Echtzeit- und Nicht-Echtzeit-Tasks in kognitiven Systemen.
Das verwendete Schreib-/Leseprotokoll sorgt stets für Datenkonsistenz und unterstützt die zeitliche Entkopplung
von Tasks mit verschiendenen Zykluszeiten durch ein Historienkonzept. Eine rückwirkungsfreie Methode zur Datenaufzeichnung
unterstützt die Simulation.
">
 <meta name="keywords" lang="de" content="
Realzeitsysteme, Hard- und Software-Architektur, Mehrkern-Rechner,
Schnittstellen, blockierungsfreies Schreib-/Leseprotokoll,
zeitliche Entkopplung, rückwirkungsfreie Datenaufzeichnung,
Echtzeitanalyse, Kognitive Automobile, Fahrerassistenzsysteme
">
 <meta name="description" lang="en" content="
The real-time database for cognitive automobiles (KogMo-RTDB) serves as central interface and
allows for unobstructed data exchange between both real-time and non-real-time tasks. Its
non-blocking read/write protocol ensures data consistency. Its concept of history enables temporal decoupling.
Its interference-free method for data logging assists simulations. 
">
<meta name="keywords" lang="en" content="
real-time systems, hard- and software architecture, multicore computers,
interfaces, non-blocking read/write protocol,
temporal decoupling, interference-free data logging,
real-time analysis, cognitive vehicles, advanced driver assistance systems
">
 <meta http-equiv="content-type" content="text/html; charset=ISO-8859-15">
 <link rel="stylesheet" type="text/css" href="style.css">

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27822994-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</head>
<body>


<div id="header" align="left">
 <h1>KogMo-RTDB - <i>Real-time Database for Cognitive Automobiles</i></h1>
 <ul id="nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="documentation.html"><font>Documentation</font></a></li>
  <li><a href="download.html"><font>Download</font></a></li>
  <li><a href="links.html"><font>Links</font></a></li>
  <li><a href="contact.html"><font>Contact</font></a></li>
 </ul>
</div>

<div id="main">

{{ content }}

</div>

<div id="footer">
www.kogmo-rtdb.de &nbsp; &copy; 2009 - 2012 Matthias Goebl &nbsp; (<a href="contact.html">Impressum</a>)
</div>

</body>
</html>
